{% extends 'pages/adminhome.html' %}
{% load static %}
{% block content %}
<div class="text-center p-4">
    <h1>APPROVE SELLER</h1>
</div>
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-12">
            <table class="table table-warning table-striped text-center  border shadow">
                <tr>
                    <th>Seller Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Phone Number</th>
                    <th>Gender</th>
                    <th>Company Name</th>
                    <th>Account Holder Name</th>
                    <th>IFSC</th>
                    <th>Branch</th>
                    <th>Account Number</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        
                        <button class="btn btn-primary"><a href="">
                                style="color: aliceblue;text-decoration: none;">APPROVE</a></button>
                        
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger">
                            <a href="" style="color: aliceblue;text-decoration: none;">REMOVE</a>
                        </button>
                    </td>
                </tr>
                
            </table>
        </div>

    </div>
</div>
{% endblock %}