{% extends 'pages/custhome.html' %}
{% load static  %}



{% block content %}
<body class="bg">
    {% comment %} <div class="container-fluid">
        <div class="container mt-5 pt-5 mb-5 pb-5 "><h4 style="padding-left : 200px">SIGNUP</h4>
                <form method="POST">
                    <div class="col-12 sm-8 md-6 m-auto">
                        <div class="card shadow border w-75" style="background-color: rgb(250, 226, 175);">
                            <div class="cardcontent">
                                <label for="exampleInputEmail1" class="form-label">name</label>
                                <input type="text" class="form-control w-50" id="name" name="cust_name">
                            
                                <label for="exampleInputEmail1" class="form-label">address</label>
                                <textarea class="form-control w-50" id="address" rows="3" name="cust_add"></textarea>
                            
                                <label for="" class="form-label">Gender :</label>
                                <input type="radio"  value="male" id="male" name="gen">male
                                <input type="radio"  value="female" id="female" name="gen">female<br>

                                <label for="exampleInputEmail1" class="form-label">phone</label>
                                <input type="text" class="form-control w-50" id="phone" name="cust_ph">
                            
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control w-50" id="email" name="cust_em">
                                <span id="e_error"></span>
                            
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input type="password" class="form-control w-50" id="Pass" name="cust_passwrd"><br>
                            
                                <button type="submit" class="btn btn-primary" id="submit">Submit</button><br><br>   
                            </div>                           
                        </div>
                    </div>
                </form>    
        </div>         
    </div> {% endcomment %}
    <div class="container">
        <div class="card shadow border mt-5 mb-5">
        <div class="row">
            
            <div class="col w-25">
<img src="{% static 'images/cus.jpg' %}" style="width:550px; height:550px;"class="rounded">
            </div>
            <div class="col text-left w-75">
                <div class="content pt-3">
            <form method="POST">
                {% csrf_token %}
                        <div class="cardcontent">
                            <label for="exampleInputEmail1" class="form-label">name</label>
                            <input type="text" class="form-control w-50" id="name" name="cust_name">
                        
                            <label for="exampleInputEmail1" class="form-label">address</label>
                            <textarea class="form-control w-50" id="address" rows="3" name="cust_add"></textarea>
                        
                            <label for="" class="form-label">Gender :</label>
                            <input type="radio"  value="male" id="male" name="gen">male
                            <input type="radio"  value="female" id="female" name="gen">female<br>

                            <label for="exampleInputEmail1" class="form-label">phone</label>
                            <input type="text" class="form-control w-50" id="phone" name="cust_ph">
                        
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control w-50" id="email" name="cust_em">
                            <span id="e_error"></span>
                        
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control w-50" id="Pass" name="cust_passwrd"><br>
                        
                            <button type="submit" class="btn btn-primary" id="submit">Submit</button><br><br>   
                        </div>                           
            </form>
                </div>
            </div>
        </div>
        </div>
    </div>

{% endblock %}