{% extends 'pages/customerhome.html' %}
{% load static %}

{% block content %}

<div class="col-md-3 mt-3 w-50 ">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'images/im2.avif'%}" class="img-fluid rounded-start h-100" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">product name</h5>
              <p class="card-text">product details</p>
              <p class="card-text">price</p>
              <a href=""><p class="card-text">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              </svg>remove</p></a>
              <p class="card-text"><small class="text-muted">supplier:</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}